<ng-content></ng-content>


<div class="container mt-4">
    <div class="accordion" id="expenseAccordion">
        <div class="accordion-item" *ngFor="let expense of ExpenseData; let i = index">
          
    <h2 class="accordion-header" id="heading{{i}}">
        <button class="accordion-button collapsed d-flex justify-content-between align-items-center" type="button"
            data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
            [attr.aria-controls]="'collapse' + i">
    
            <div class="d-flex align-items-center">
                <img [src]="expense.expenseIcon" alt="icon" class="expense-icon me-2" />
                <div>
                    <div class="expense-title">{{ expense.description }}</div>
                    <small class="text-muted">{{ expense.date }}</small>
                </div>
            </div>
    
            <div class="text-end ms-auto">
                <div class="fw-bold">{{ expense.amount | currency: 'INR' }}</div>
                <small class="text-muted">{{ getPayerDetails(expense) }}</small>
            </div>
            <div class="text-end ms-auto">
                <div class="fw-bold">{{ expense.amount | currency: 'INR' }}</div>
                <small class="text-muted">{{ getPayerDetails(expense) }}</small>
            </div>
    
            <!-- Delete Icon -->
            <!-- <button type="button" class="btn btn-danger btn-sm ms-3" (click)="deleteExpense(expense.id)">
                <i class="fas fa-trash"></i>
            </button> -->
        </button>
    </h2>



            <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#expenseAccordion">
                <div class="accordion-body">
                    <h5>{{ expense.description }} Expense</h5>
                    <img [src]="expense.expenseIcon" alt="{{ expense.description }} Icon" class="img-fluid" />
                    <p><strong>Group:</strong> {{ expense.groupTitle }}</p>
            
                 
            
                    <div *ngIf="expense">
                        <h2>Expense Details</h2>
                        <p><strong>Total Amount:</strong> {{ expense.amount }}</p>
                    
                        <div class="expense-balances">
                            <p *ngFor="let memberId of getMemberIds(expense.calculatedBalances)">
                                {{ getBalanceText(memberId, expense.calculatedBalances, expense.payersData) }}
                            </p>
                        </div>
                    </div>

            
                    <!-- Edit Button -->
                    <!-- <button (click)="openEditModal(expense.id)" class="btn btn-primary mt-2">Edit</button> -->
                </div>
            </div>

        </div>
    </div>
</div>
