 .modal-header {
     background-color: #333f63;
     color: white;
 }

 .modal-title {
     margin: 0;
 }

 .close {
     color: rgb(3, 3, 3);
     font-size: 20px;
 }

 .modal-body {
    padding: 28px;
     margin-top: 11px;
 }

 .form-group {
     margin-bottom: 1rem;
 }

 input.form-control {
     border: 1px solid #ced4da;
     border-radius: 4px;
 }

 input[type="text"] {
     font-size: 1.2em;
 }

 input[type="date"] {
     font-size: 1em;
 }

 .btn-outline-secondary {
     width: 100%;
     margin-top: 0.5rem;
 }

 .modal-footer {
     justify-content: space-between;
 }

 .image-preview {
     text-align: center;
     margin: 2px 0;
 }

 .image-preview img {
     max-width: 70px !important;
     height: 70px;
 }
 .lable-style{
    font-size: 20px;
}
.font-label{
    font-size: 20px;
 }
 ng-dropdown-panel .scroll-host {
     overflow: hidden;
     overflow-y: auto;
     position: relative;
     background-color: mediumturquoise !important;
     display: block;
     -webkit-overflow-scrolling: touch;
 }







 
 
 