<div class="modal-header">
    <h5 class="modal-title">Add an expense</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="expenseForm">

        <div class="form-group d-flex justify-content-center align-items-center">
            <div class="col-md-2">
                <label class="font-weight-bold">With you and:</label>
            </div>
            <div class="col-md-10">
                <span *ngIf="!isNgSelectVisible" class="ms-3 font-weight-bold text-primary"
                    (click)="selectGroupMember()" style="cursor: pointer;">
                    {{ selectedGroup ? selectedGroup.groupTitle + "'s all members" : 'Select group members' }}
                </span>

                <ng-select *ngIf="isNgSelectVisible" #ngSelectRef [items]="selectedGroup?.members"
                    bindLabel="memberName" bindValue="memberId" [(ngModel)]="selectedMembers" [multiple]="true"
                    formControlName="withYou" class="form-control">
                </ng-select>
            </div>
        </div>

        <!-- Validation message for 'withYou' -->
        <div *ngIf="expenseForm.get('withYou')?.touched && expenseForm.get('withYou')?.invalid" class="text-danger">
            Please select group members.
        </div>

        <div class="d-flex justify-content-around align-content-around">
            <div class="col-md-2 image-preview">
                <img [src]="imageSrc ? imageSrc : 'assets/logo/logo.png'" alt="Dynamic Image" class="img-fluid" />
            </div>
            <div class="col-md-10 form-group">
                <label for="description">Enter a description</label>
                <input type="text" class="form-control" formControlName="description" (input)="updateImage()"
                    placeholder="Enter a description">
            </div>
        </div>

        <!-- Validation message for 'description' -->
        <div *ngIf="expenseForm.get('description')?.touched && expenseForm.get('description')?.invalid"
            class="text-danger">
            Description is required.
        </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" formControlName="amount" placeholder="$0.00"
                style="font-size: 1.5em; font-weight: bold;">
        </div>

        <!-- Validation messages for 'amount' -->
        <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.invalid" class="text-danger">
            <div *ngIf="expenseForm.get('amount')?.errors?.required">Amount is required.</div>
            <div *ngIf="expenseForm.get('amount')?.errors?.pattern">Please enter a valid amount.</div>
        </div>

        <div class="form-group text-center">
            <label class="font-label">Paid by
                <button type="button" class="btn btn-sm btn-outline-success" (click)="openPayerModal()">
                    {{ payersData.length > 1 ? 'multiple people' : (payersData[0]?.memberName || 'you') }}
                </button>
                and split equally
            </label>
            <p class="text-muted mt-2">($0.00/person)</p>
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" formControlName="date">
        </div>

        <!-- Validation message for 'date' -->
        <div *ngIf="expenseForm.get('date')?.touched && expenseForm.get('date')?.invalid" class="text-danger">
            Date is required.
        </div>

        <div class="form-group">
            <label>Add image/notes</label>
            <button type="button" class="btn btn-outline-secondary" disabled="true">Add image/notes</button>
        </div>

        <div class="form-group">
            <label>Group</label>
            <button type="button" class="btn btn-outline-secondary">{{selectedGroup?.groupTitle}}</button>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveExpense()" [disabled]="expenseForm.invalid">
        Save
    </button>
</div>