.form-group {
    margin-bottom: 1.5rem;
}

button {
    margin-right: 1rem;
}

.form-style {
    padding: 37px;
}

.modal-header {
    background-color: #333f63;
}

.modal-title {
    color: aliceblue;
}

.close {
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
}