
<ng-content></ng-content>
<div class="container mt-4">
    <div class="accordion" id="expenseAccordion">
        <div class="accordion-item" *ngFor="let group of allGroup; let i = index">
            <h2 class="accordion-header" id="heading{{i}}">
                <button class="accordion-button collapsed d-flex justify-content-between align-items-start"
                    type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
                    aria-expanded="false" [attr.aria-controls]="'collapse' + i"
                    (click)="fetchAndCalculateGroupBalances(group.groupId)">
                    <div class="d-flex align-items-start flex-grow-1">
                        <div class="me-3">
                            <div class="expense-title fw-bold">{{ group.groupTitle || 'Group ' + (i + 1) }}</div>
                            <small class="text-muted">Created by: {{ group.groupCreatedBy }}</small>
                        </div>
                        <span class="badge rounded-pill bg-info text-dark me-2">{{ group.groupType }}</span>
                    </div>
                    <small class="text-muted"
                        style="font-size: 0.8em; color: #6c757d; position: absolute; right: 10px; bottom: 5px;">
                        {{ (group.createdAt.seconds * 1000) | date: 'shortDate' }} at {{ (group.createdAt.seconds * 1000)
                        | date: 'shortTime' }}
                    </small>
                </button>
            </h2>

            <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#expenseAccordion">
                <div class="accordion-body">
                    <h6 class="fw-bold">Balance Details:</h6>
                    <ul *ngIf="totalBalances[group.groupId]; else noBalanceMessage">
                        <li *ngFor="let balance of displayBalancesForGroup(group.groupId)">
                            {{ balance }}
                        </li>
                    </ul>

                    <ng-template #noBalanceMessage>
                        <p class="text-muted">No balance details available for this group.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
